body{
  color:#82E5C0;
  background-color:red;
  text-align:center;

}
a{
  color:white;
}

h1{
  font-size:2rem;
}

h4{
  color:gray;
  margin-bottom:.5rem;
  font-size:.8rem;
}

input:not([type=submit]):not([type=file]) {
font-size:1.5rem;;
 background: white;
 color:gray;
 border-radius:1rem;
 border:none;
 border-bottom: 2px solid gray;
 text-align: center;
}


button{
  font-size:1.5rem;
  color:white;
  padding-left:1rem;
  padding-right:1rem;
  background-color:#47816B;
  border-color: #82E5C0;
  border-radius:1rem;

}

.container-song{
  display:grid;
  background-color: black;
  justify-content: center;
  justify-items:center;
  min-height:100vh;
}

.container-output{
  width:100%;

}

.container-inspected{
  display:grid;
}

.container-inspected > img{
  place-self: center;
  margin:1rem;
}

.container-recommendation{
  background-color:#313030;
  margin:1rem;  
  width:80%;
  display:grid;
  place-items:center;
}


.card{
  padding:1rem;
  background-color:#313030;
  margin-bottom:20px;
  width:100%
}

.last-card{
  padding:1rem;
  background-color:#313030;
  width:100%
}

.top-header{
}

.single-input{
  max-width:100%;
  margin-top:1rem;
  margin-bottom:1rem;
}

.layout-display{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.tvalue{
  color:white;
}

/*Under 420px -- Cell phones*/

@media screen and (max-width: 420px) {

}



/*Under 768px -- Tablets*/

@media screen and (max-width: 768px) {

}



/*Under 1366px -- Laptops*/

@media screen and (max-width: 1366px) {

}




/*Under 1920px -- Deksktop and above*/

@media screen and (max-width: 1920px) {

}

